@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

body{
    background-color: rgba(0, 71, 171, 0.2);
    font-family: 'Lato', sans-serif;
    
}

header{
    background: #fff;
    padding: 20px 20px 20px;
    height: 6vh;
    
}
a{
    color: #47525E;
    text-decoration: none;
    transition: 0.3s;
}
a:hover{
    opacity: 0.7;
}

.cabecalho{
    display: flex; 
    position: relative;
    
}

.logo{
    width: 2%;
    letter-spacing: 3px;
    font-size: 24px;
    
}

nav{
    width: 55%;
    background-color: rgba(0, 71, 171, 0.2);
    opacity: 0.8;
    padding: 5px;
    height: 4vh;
    margin-right: 15%;
    margin-left: 11.5%;
    
}

nav li{
    display: inline;
    color: #47525E;
    font-size: 25px;
    margin-left: 25px;
    text-transform: uppercase;
    margin-right: 0;

}
nav a{
    font-size: 16px;
}
.nav-list li:nth-child(n+2){
    border-left: 5px solid #0047AB;
    padding-left:18px;
}

.menu-lateral{

    padding: 30px;
    width: 8%;
    height: 94vh;
    display: inline-block;
}

.menu-lateral h3{
    color: #47525E;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

main{
    display: inline-block;
    height: 94vh;
    vertical-align: top;
    width: 81%;
    padding: 30px;
}

.container1{

    vertical-align: top;
    background-color: rgba(0, 71, 171, 0.281);
    display: inline-block;
    height: 90vh;
    width: 62%;
    padding: 15px;
}

.container1 h2{
    background-color: rgba(0, 71, 171, 0.26);
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    color: #47525E;
    font-size: 28px;
}

.container1 h3{
    
    color: #47525E;
    font-family: Lato;
    font-size: 20px;
    line-height: 26px;
    width: 139px;
    text-align: left;
    margin-top: 25px;
}

.container1 p{
    margin-top: 25px;
}

.container1 h5 {
    text-align: justify;
}

.container2{
    position: absolute;
    height:50vh;
    display: inline-block;
    width: 300px;
    margin-left: 50px;

}
.calendario{
    height: 300px;
}
.containerbarra1 {
    width: 600px;
    height: 20px;
    background-color:white;
    border-radius: 10px;
    color:#0047AB;
    position: relative;
}

.containerbarra1::before{
    content: attr(data-label);
    background-color:#0047AB;
    width: calc(var(--width,0) * 1%); 
    display: flex;
    align-items: center;
    position: absolute;
    min-width: 2rem;
    max-width: calc(100%-1em);
    border-radius: 10px;
    height: 20px;
}

.containerbarra2 {
    width: 600px;
    height: 20px;
    background-color:white;
    border-radius: 10px;
    color:#0047AB;
    position: relative;
}

.containerbarra2::before{
    content: attr(data-label);
    background-color:#0047AB;
    width: calc(var(--width,0) * 1%); 
    display: flex;
    align-items: center;
    position: absolute;
    min-width: 2rem;
    max-width: calc(100%-1em);
    border-radius: 10px;
    height: 20px;
}

.containerbarra3{
    width: 600px;
    height: 20px;
    background-color:white;
    border-radius: 10px;
    color:#0047AB;
    position: relative;
}

.containerbarra3::before{
    content: attr(data-label);
    background-color:#0047AB;
    width: calc(var(--width,0) * 1%); 
    display: flex;
    align-items: center;
    position: absolute;
    min-width: 2rem;
    max-width: calc(100%-1em);
    border-radius: 10px;
    height: 20px;
}

.msg{
    background-color: rgba(0, 71, 171, 0.281);
    position: relative;
    text-align: center;
}

.perfil {
    display: block;
    margin-top: 0;  
}